
<button mat-button color="accent" (click)="exportSelectedCsv()">
  Esporta Csv
</button>


  <div class="content" style="width: 100%; height: 100%;">
    <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [rowData]="rowDataFattura"
      [columnDefs]="colDefsFattura"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
    />
  </div>
