<div class="login-container">
    <h2>Gestione Fatture</h2>
    
    <form (ngSubmit)="onLogin()">
      <div class="row">
        <label for="numFattura"> Fattura N. </label>
        <div class="field">
          <input
            id="numFattura"
            disabled
            type="text"
            [(ngModel)]="numFattura"
            name="numFattura"
            style="width: 80px ; background-color: #93c5e6;"
            border-radius: 4px;
            required
          />
        </div>
      </div>

      <br>

      <div class="row">
        <div class="field">
          
          <input
            id="username"
            disabled
            type="text"
            [(ngModel)]="username"
            name="username"
            required
          />
        </div>
      
        <div class="field">
          
          <input
            id="codiceFiscaleMedico"
            type="text"
            [(ngModel)]="codiceFiscaleMedico"
            name="codiceFiscaleMedico"
            disabled
            required
          />
        </div>
      
      
        <div class="field">
          
          <input
            id="indirizzoMedico"
            disabled
            type="text"
            [(ngModel)]="indirizzoMedico"
            name="indirizzoMedico"
            required
          />
        </div>
      
      </div>
    
    </form>
  
    <br> <br>

  <mat-form-field  appearance="fill">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dataSelezionata">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>


  <div class="login-container">
    
    <form #f="ngForm">   <!--(ngSubmit)="onLogin()">-->
      
      <div class="row">
        <div class="field">

          <label for="opzioneSelezionata">Paziente</label>

          <select 
          [(ngModel)]="opzioneSelezionata" 
          name="opzioneSelezionata"
          (change)="onPazienteChange()"
          style="width: 300px"
          >
            <option *ngFor="let item of listaFiltrata" [value]="item.id">
            {{ item.Cognome }} {{ item.Nome }}
          </option>
        </select>
        </div>

        
      <input 
        type="text" 
        [(ngModel)]="filtro" 
        placeholder="Cerca per cognome o nome"
        name="filtro"
        class="search-box"
        style="width: 100px"
      />
    </div>
    <br><br><br>

    <div class="row">
      <div class="field">
        <label>Nome Completo</label>
        <input type="text" [value]="nomeCompletoPaziente"  style="background-color: #93c5e6;">
      </div>
    </div>
    
    
    <div class="row">
      <div class="field">
        <label>Codice Fiscale</label>
        <input type="text" [value]="codiceFiscalePaziente"  style="background-color: #93c5e6;">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Indirizzo</label>
        <input type="text" [value]="indirizzoPaziente"  style="background-color: #93c5e6;">
      </div>
    </div>


    <br><br>

    <div class="combo-editabile">
      
      <input 
        type="text" 
        [(ngModel)]="valoreSelezionato"
        name="valoreSelezionatoInput"
        placeholder="Scrivi o scegli..."
        class="input-editabile"
        style="width: 500px ; background-color: #93c5e6;"
      />
      
      <label>Importo</label>
      <input 
      type="text" 
      [(ngModel)]="valoreSelezionatoImporto"
      name="valoreSelezionatoImporto"
      placeholder="..."
      class="input-editabile"
      style="width: 100px ; background-color: #93c5e6;"
    />
  
      <br><br><br><br>

      <select 
        [(ngModel)]="valoreSelezionato"  name="valoreSelezionatoSelect"  class="combo"   >
        <br>
      <option *ngFor="let item of lista" [value]="item.valore">
          {{ item.descrizione }}
        </option>
      </select>
    
      
      <select  [(ngModel)]="valoreSelezionatoImporto" name="importoSelezionatoSelect" class="combo" >
      <br>
        <option *ngFor="let item of listaImporto" [value]="item.valore">
          {{ item.descrizione }}
        </option>
      </select>
    

    </div>


    <button type="button" (click)="generaPdf()">
       Esporta in PDF
    </button>

    <button [disabled]="f.invalid">
      Salva
    </button>

    </form>

  </div>
  
