<div class="login-container">
    <h2>Gestione Fatture</h2>
    
    <form >
      <div class="row">
        <label style="width: 140px " for="numFattura"> Fattura N. </label>
        <div class="field">
          <input  id="numFattura" disabled  type="text" [(ngModel)]="nextFattura"
            name="numFattura"  style="width: 140px ; background-color: #93c5e6;"  border-radius: 4px;  required />
        </div>
      </div>

      <br>

      <div class="row">
        <div class="field">
          <input style="width: 140px " id="username"  disabled  type="text"  [(ngModel)]="username"  name="username"  required />
          <input style="width: 190px " id="codiceFiscaleMedico"  type="text" [(ngModel)]="codiceFiscaleMedico"  name="codiceFiscaleMedico"   disabled  required />
        </div>
        <div class="field">
          <input  style="width: 260px " id="indirizzoMedico" disabled type="text" [(ngModel)]="indirizzoMedico" name="indirizzoMedico"required/>
        </div>
      </div>
    
    </form>
  
    <br> <br>

    <mat-form-field appearance="fill" class="small-date">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dataSelezionata">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


</div>


  <div class="login-container">
    
    <form #f="ngForm">   <!--(ngSubmit)="onLogin()">-->
      
    <div class="row">
        
        <div class="field">
          <label for="opzioneSelezionata">Paziente</label>

          <select [(ngModel)]="opzioneSelezionata" name="opzioneSelezionata" (change)="onPazienteChange()" style="width: 300px" >

            <option *ngFor="let item of lsPazienti" [value]="item.id">
              {{ item.Cognome }} {{ item.Nome }} 
            </option>
            
          </select>
        </div>
        
       <input type="text" [(ngModel)]="filtro" 
         (input)="filtraPazienti()"   name="filtro" class="search-box"  style="width: 100px"
       />

    </div>

    <br><br><br>

    <div class="row">
      <div class="field">
        <label>Nome Completo</label>
        <input type="text" [(ngModel)]="nomeCompletoPaziente" name ="nomeCompletoPaziente" required >
      </div>
    </div>
        
    <div class="row">
      <div class="field">
        <label>Codice Fiscale</label>
        <input type="text" [value]="codiceFiscalePaziente"  required>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label>Indirizzo</label>
        <input type="text" [value]="indirizzoPaziente"  required>
      </div>
    </div>

    <br>
             
    <div class="row">
       <div class="field">
       <label>Certificato</label>
          
      <input
         list="listaCertificato"
         [(ngModel)]="valoreSelezionato"
         name="listaCertificato"
         onmousedown="this.dataset.valore = this.value; this.value='';"
         onblur="if(this.value==='') this.value=this.dataset.valore;"
         required
       />
     
       
     <datalist id="listaCertificato">
       <option *ngFor="let item of listaCertificato" [value]="item.valore">
         {{ item.descrizione }}
       </option>
     </datalist>



          <label>Importo</label>
         
          <input
            list="listaImporto"
            [(ngModel)]="valoreSelezionatoImporto"
            name="importoEditabile"
            style="width: 120px;"
            onmousedown="this.dataset.valore = this.value; this.value='';"
            onblur="if(this.value==='') this.value=this.dataset.valore;"
            required
          />
        
        <datalist id="listaImporto">
          <option *ngFor="let item of listaImporto" [value]="item.valore">
            {{ item.descrizione }}
          </option>
        </datalist>


        <label>Iva</label>
         
        <input
          list="listaIva"
          [(ngModel)]="valoreSelezionatoIva"
          name="listaIva"
          style="width: 120px;"
          onmousedown="this.dataset.valore = this.value; this.value='';"
          onblur="if(this.value==='') this.value=this.dataset.valore;"
          required
        />
      
      <datalist id="listaIva">
        <option *ngFor="let item of listaIva" [value]="item.valore">
          {{ item.descrizione }}
        </option>
      </datalist>

    </div>
      

   </div>
      
    <br>
           
   
    
    <button mat-raised-button color="primary"
        type="button"
        [disabled]="f.invalid"
        (click)="generaPdf()">
        Esporta in PDF
    </button>

    <button mat-raised-button color="primary"
      type="button"
      [disabled]="f.invalid"
      (click)="salvaFattura()">
        salva
    </button>

  
  <button mat-raised-button color="primary"
    type="button"
    (click)="scaricaArchivioFatture()">
      Scarico Fatture
  </button>



    </form>

  </div>
  
