.login-container {
    width: 320px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 800px; /* limite massimo */
    margin: 0 auto;
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #125a9c;
  }
  
  .row {
    display: flex;
    gap: 10px; /* aumenta la distanza */
    align-items: center;
    grid-template-columns: 1fr 100px;
    column-gap: 20px;    
  }
  
  
  .field1 {
    display: flex;
    width: 250px; /* aumenta la larghezza della colonna */
    display: flex;
    flex-direction: column;
    gap: 4px; /* avvicina label e input */
  }

  .field1 label {
    width: 120px;
    display: inline-block;
    
  }

  .field input {
    background-color: rgb(136, 179, 213); 
  }

  mat-form-field {
    background-color: #93c5e6; /* colore che vuoi */
    padding: 4px;
    border-radius: 4px;
  }

  .field {
    display: grid;
    width: 550px; 
    grid-template-columns: 120px 1fr; /* 150px per la label, input a destra */
    align-items: center;
    column-gap: 10px; /* distanza tra label e input */
    flex-wrap: nowrap; /* <‑‑ impedisce di andare a capo */
  }
  
  .field label {
    margin: 0;
    white-space: nowrap; /* evita che la label vada a capo */

  }


  .small-date {
    width: 180px;
    min-width: 120px; /* opzionale */
  }

  
  button[disabled] {
    opacity: 0.5;          /* lo rende visibile ma “spento” */
    cursor: not-allowed;   /* cursore disabilitato */
  }
  